body {
    color: rgb(38, 38, 38);
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    min-height: 670px;
    height: 80vh;
    margin: 8vh 15vw 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 5px;
}

#phone {
    background-image: url(static/ig-background1.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 73% 26%;
}

#menu {
    position: relative;
    top: 15px;
}

#menu > * {
    background-color: white;
    border: 1px solid #dbdbdb;
    width: 350px;
}

#menu a {
    text-decoration: none;
}

#auth {
    margin-bottom: 10px;
    padding: 10px 0;
}

#auth > img {
    margin: 36px 0 12px;
    box-sizing: border-box;
}

#auth > input {
    box-sizing: border-box;
    width: 268px;
    height: 38px;
    border: 1px solid rgb(219, 219, 219);
    background-color: #fafafa;
    border-radius: 3px;
    font-size: small;
    padding-left: 8px;
}

input:focus {
    outline: 1px solid #a8a8a8;
    
}

#login {
    margin: 24px 40px 6px;
}

#password {
    margin: 0 40px 6px;
}

#auth > input[type=button] {
    margin: 8px 40px;
    height: 30px;
    background-color: #b2dffc;
    color: white;
    border-radius: 5px;
    border: transparent;
    font-size: 14px;
    font-weight: 600;
}

#spacer {
    flex-direction: row;
    margin: 10px 40px 18px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(142, 142, 142);
    align-items: stretch;
}

#spacer > div {
    align-items: stretch;
    height: 1px;
    border-top: 1px solid rgb(38, 38, 38);
}

#enter-fb {
    margin: 8px 40px;
    color: rgb(56, 81, 133);
    font-size: 14px;
    font-weight: 600;
}

#enter-fb::before {
    content: url(static/fb-logo.png);
    margin-right: 8px;
}

#forgot-pw {
    margin: 12px 0 10px;
    color: rgb(0, 55, 107);
    font-size: 12px;
    font-weight: 400;
}

#register {
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

#register > div > a {
    color: rgb(0, 149, 246);
    font-size: 14px;
    font-weight: 600;
}

#register > div {
    margin: 15px;
}

#dl-app {
    border: none;
}

#dl-app span {
    margin: 10px 20px;
    font-size: 14px;
    font-weight: 400;
}

#dl-app img {
    width: 136px;
    height: 40px;
    padding: 10px 0;
}

#footer {
    position: relative;
    bottom: 20px;
}

#footer > div {
    margin: 0;
}

#footer * {
    text-decoration: none;
    color: rgb(142, 142, 142);
    font-size: 12px;
    font-weight: 400;
    margin: 0 8px 12px;
    border: transparent;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}

#copyright * {
    text-align: center;
}

@media all and (max-width: 800px) {
    #phone {
        display: none;
    }
}

@media all and (max-width: 550px) {
    #phone {
        display: none;
    }
    #menu > * {
        border: transparent;
    }
    #wrapper {
        margin-top: 0;
        height: 670px;
    }
}